@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap.daterangepicker";
@import "font-awesome";

#reportrange {
  margin-left: 8px;
  border-bottom: 1px dashed;
}

#btn-download-xls {
  margin-left: 14px;
  cursor: pointer;
}

#reportrange, #btn-download-xls {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: #23527c;
  }
}

.post{
  margin-bottom: 30px;
  [class*=count]{
    float: right;
    margin: 3px;
  }
}
