@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap.daterangepicker";
@import "font-awesome";

#reportrange {
  cursor: pointer;
  margin-left: 8px;
  color: #337ab7;
  border-bottom: 1px dashed;

  &:hover {
    color: #23527c;
  }
}

.pagination .page.disabled {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-left-width: 0;
}

.post{
  margin-bottom: 30px;
  [class*=count]{
    float: right;
    margin: 3px;
  }
}

.xls-link{
  margin-top: 10px;
  margin-right: 20px;
}
